.center
  h2.italic.margin Edit Basic Information

  form.form(name="homeBasicForm")
    .form-group
      label Duration*
      input(type="checkbox" name="longRent" value="1" ng-model="home.longRent")
      | Long rent
      input(type="checkbox" name="shortRent" value="1" ng-model="home.shortRent")
      | Short rent (&lt; 6 months)

    .form-group
      label Property type*
      select(ng-model="home.type")
        option Flat
        option House
        option Maisonette
        option Studio
        option Garden House
    
    .form-group
      label
        | Price per 
        strong month
        | *
      input(name="price", type="text", placeholder="Rent per month", ng-model="home.price", required)
      br
      label Exc/Inc which Bills?*
      select(ng-model="home.bills")
        option
        option Inc both Utilities and Council Tax
        option Exc Utilities but inc Council Tax
        option Inc Utilities but exc Council Tax
        option Exc both Utilities and Council Tax
    
    .form-group
      label Address
    
      label Postcode*
      input(name="postcode", type="text", placeholder="Postcode", ng-model="home.postcode", required)

      label Street
      input(name="address", type="text", placeholder="Street Address", ng-model="home.address", required)
    
    .form-group
      button.button-red.medium.home-edit-next(ng-click="verify()") Next
      br
      span.required * required

    .form-group
      .error {{notifier.error}}
      .notice {{notifier.notice}}
