.center
  h2.italic.margin Add Contact Information

  form.form(name="homeContactForm")
    .form-group
      p.bold How may Properly-verified tenants contact you?*
      
      .form-phone-width.left
        .margin-top
          input(type="checkbox" name="longRent" value="1" ng-model="home.contactEmail" checked)
          | Properly Email
        .margin-top
          input(type="checkbox" name="shortRent" value="1" ng-model="home.contactPhone")
          | Telephone

    .form-group.margin-top
      button.button-red.medium.edit-next(ng-click="verify()", ng-disabled="homeContactForm.$invalid") Next
      br
      span.required * required

    .form-group
      .error {{notifier.error}}
      .notice {{notifier.notice}}
