.center
  h2.italic.margin-top Add a Description

  form.form(name="homeDescriptionForm")
    .form-group
      label Description*
      p Tell your future tenants what's special about your place...
      textarea(name="description", ng-model="description", required)
    
    .form-group
      button.button-red.medium.home-edit-next(ng-click="verify()") Next
      br
      span.required * required

    .form-group
      .error {{notifier.error}}
      .notice {{notifier.notice}}
