.center
  h2.italic.margin-top Add a Description

  form.form(name="homeDescriptionForm")
    .form-group
      p Tell your future tenants what's special about your place...
      textarea(ng-model="home.description")

    .form-group.form-phone-width
      label Features:
      .pull-left.left
        input(type="checkbox" checklist-model="home.features" checklist-value="'Washing machine'" checked)
        | Washing machine
        .margin-top-sm
        input(type="checkbox" checklist-model="home.features" checklist-value="'Central heating'" checked)
        | Central heating
        .margin-top-sm
        input(type="checkbox" checklist-model="home.features" checklist-value="'Broadband internet'")
        | Broadband internet
        .margin-top-sm
        input(type="checkbox" checklist-model="home.features" checklist-value="'Cable TV'")
        | Cable TV
        .margin-top-sm
        input(type="checkbox" checklist-model="home.features" checklist-value="'Garden or Terrace'")
        | Garden or Terrace
      .pull-right.left
        input(type="checkbox" checklist-model="home.features" checklist-value="'Balcone'")
        | Balcone
        .margin-top-sm
        input(type="checkbox" checklist-model="home.features" checklist-value="'Dishwasher'")
        | Dishwasher
        .margin-top-sm
        input(type="checkbox" checklist-model="home.features" checklist-value="'Electrical Dryer'")
        | Electrical Dryer
        .margin-top-sm
        input(type="checkbox" checklist-model="home.features" checklist-value="'Local Car parking'")
        | Local Car parking
        .margin-top-sm
        input(type="checkbox" checklist-model="home.features" checklist-value="'Space for bycicles'")
        | Space for bycicles

    .form-group.margin-top-sm
      button.button-red.medium.home-edit-next(ng-click="verify()", ng-disabled="homeDescriptionForm.$invalid") Next
      br
      span.required * required

    .form-group
      .error {{notifier.error}}
      .notice {{notifier.notice}}
