.center
  h2.italic.margin Edit Detail Information

  form.form.form-phone-width(name="homeDetailsForm")
    .form-group
      label Size:*
      input.half.pull-left(type="number", placeholder="square meter/feet", ng-model="home.size")
      select.half.pull-right(ng-model="home.dimSys")
        option sqm
        option sqf
    
    .form-group
      label No. of Bedrooms:*
      select(ng-model="home.bedrooms")
        option 1
        option 2
        option 3
        option 4
        option 5

    .form-group
      label No. of Bathrooms:*
      select(ng-model="home.bathrooms")
        option 1
        option 2
        option 3
        option 4
        option 5
    
    .form-group
      label No. of Living rooms:*
      select(ng-model="home.livingrooms")
        option 0
        option 1
        option 2
        option 3
        option 4
        option 5

    .form-group
      label Pets allowed:*
      select(ng-model="home.pets")
        option No
        option Yes
        option Dogs only
        option Cats only

    .form-group
      label Furnished:*
      select(ng-model="home.furnished")
        option Yes
        option No
    
    .form-group.margin-top
      button.button-red.medium.home-edit-next(ng-click="verify()", ng-disabled="homeDetailsForm.$invalid") Next
      br
      span.required * required

    .form-group
      .error {{notifier.error}}
      .notice {{notifier.notice}}
