.center
  h2.italic.margin Edit Detail Information

  form.form(name="homeDetailsForm")
    .form-group
      label Size*
      input(name="price", type="text", placeholder="Rent per month", ng-model="rentPM", required)

    .form-group
      label No. of Bedrooms*
      select
        option 1
        option 2
        option 3
        option 4
        option 5

    .form-group
      label No. of Bathrooms*
      select
        option 1
        option 2
        option 3
        option 4
        option 5
    
    .form-group
      label No. of Living rooms*
      select
        option 0
        option 1
        option 2
        option 3
        option 4
        option 5

    .form-group
      label Pets allowed*
      select
        option No
        option Yes
        option Dog only
        option Cat only

    .form-group
      label Furnished*
      select
        option yes
        option no
    
    .form-group
      button.button-red.medium.home-edit-next(ng-click="verify()") Next
      br
      span.required * required

    .form-group
      .error {{notifier.error}}
      .notice {{notifier.notice}}
