.index
  .index-content
    h2.index-logo
      img(src="/img/logo.png", alt="properly")
      span Properly
    
    h1.margin-top There's no Place Like Home.
    a.index-search-button.button-red(href="/map") Find yours now

    p.big.light.margin-top-big
      | Find the right rental home for you, and get alerts
      br
      | when a new one appears in your neighbourhood.

    //-
      p.margin-top
        a(href="/")
          img.margin-right(src="/img/appstore.png", alt="Get it on the Apple App Store")
        a(href="/")
          img(src="/img/playstore.png", alt="Get it on the Google Play Store")

  .index-scroll-for-more(ng-click="gotoAbout()")
    | about us&nbsp;&nbsp;
    .arrow-down
    
.index-about-us#about
  h1 About us
