.center
  h2.italic.margin.center Properly verify

  form.form(name="referencesForm")
    .form-group
      label Connect with Linkedin
      input(name="email", type="text", placeholder="Job Title", ng-model="fisrtName", required)

    .form-group
      label Connect with Facebook
      input(name="email", type="text", placeholder="Job Title", ng-model="fisrtName", required)

    .form-group
      label Connect with Google+
      input(name="email", type="text", placeholder="Job Title", ng-model="fisrtName", required)
    
    .form-group
      button.button-red.medium(ng-click="verify()") Next
      br
      span.required * required

    .form-group
      .error {{notifier.error}}
      .notice {{notifier.notice}}
