.home
  .home-content
    h2 Logo Properly

    h1 There's no Place Like Home.
    a.home-search-button.button-red(href="/map") Find yours now

    p.big.light.margin-top-big.padding-top.italic
      | Find the right rental home for you, and get alerts
      br
      | when a new one appears in your neighbourhood.

    //-
      p.margin-top
        a(href="/")
          img.margin-right(src="/img/appstore.png", alt="Get it on the Apple App Store")
        a(href="/")
          img(src="/img/playstore.png", alt="Get it on the Google Play Store")

  .home-scroll-for-more
    | about us&nbsp;&nbsp;
    .home-arrow-down
    
.home-about-us
  h1 About us
