.header-spacer
.center
  h1 Your Account
  
  .inline-block.left
    a.underline(href="/account/settings") Your Profile
    br
    a.underline(href="/account/settings") Settings
    br
    a.underline(href="", ng-click="signout()") Logout
