.header-spacer
form.form.form-phone-width(name="signupForm")
  h2.margin.margin-top-big.italic Join Properly

  .form-group
    label Email*
    input(name="email", type="email", placeholder="Email", ng-model="email", required, autofocus)
  
  .form-group
    label Password*
    input(name="password", type="password", placeholder="Password", ng-model="password", required)
  
  .form-group
    button.button-red.medium(ng-click="signup()", ng-disabled="signupForm.$invalid") Join
    br
    span.required * required

  .form-group
    .error {{notifier.error}}
    .notice {{notifier.notice}}
  
.margin-big.center
  | Already have an account? 
  a.underline(href="/login") Log in.
  br
  | Rental owner? 
  a.underline(href="/pro") Go pro.
