.header-spacer
form.form.form-phone-width(name="signinForm")
  h2.margin.margin-top-big.italic Sign in to Properly
  
  .form-group
    label Email*
    input(name="email", type="email", placeholder="Email", ng-model="email", required, autofocus)
  
  .form-group
    label Password*
    input(name="password", type="password", placeholder="Password", ng-model="password", required)

  .form-group
    button.button-red.medium(ng-click="signin()") Sign in
    br
    span.required * required

  .form-group
    .error {{notifier.error}}
    .notice {{notifier.notice}}

  .margin-big
    | New user? 
    a.underline(href="/join") Sign up here.
