.pages-container
  h1.center.margin-top Settings

  form.form-phone(name="profileForm")
    .form-group
      label Email*
      input(name="email", type="text", placeholder="Email", ng-model="currentUser.email", required)
    
    .form-group(ng-show="email.valid")
      label Password
      input(name="password", type="password", placeholder="Password", ng-model="currentUser.password")
  
    .form-group
      button.button-red.medium(ng-click="update()", ng-disabled="profileForm.$invalid") Submit
      br
      span.required * required
    
    .form-group.notifier
      .error {{notifier.error}}
      .notice {{notifier.notice}}
