.feed-topic(ng-click="toggleHeader(); $event.stopPropagation();") Read later

//- empty list
.center(ng-show="empty()")
  h2.margin-top-big
    | Sorry, you have no saved links.
  p.margin-top-big
    | Simply hit the 
    span.big &hearts; 
    | next to each link to add it to this list.
  p
    | If this is an error 
    a.underline(ng-click="toggleFeedback()") please contact us for help.

//- read later feed
.center(ng-hide="empty()")
  .feed-container
    
    .feed-item(ng-repeat="link in readlater | orderBy:'activated':'true'")
      .feed-item-body
        a.feed-link(href="{{link.url}}", target="_blank") {{link.title}}

        .feed-item-info
          .feed-item-actions
            a.action-share(href="https://twitter.com/intent/tweet?url={{link.url}}&text={{encode(link.title)}}")
              img(src="/img/share.svg")
            .action-remove(ng-click="removeLink(link.url)") &times;
          .feed-item-date {{link.topic}} | {{link.activated}}
