.header-spacer
.edit-header
  a(ng-click="nextStep('basic')" ng-class="{'active': activeStep('basic')}") Basic
  a(ng-click="nextStep('references')" ng-class="{'active': activeStep('references')}") References

div(ng-include="getStep()")
