.header-spacer
div Logo

h1 Find your next dream home

a.button-red(href="/map") Search now

a(href="/pro") Renting out your property?

//-
  p.margin-top
    a(href="/")
      img.margin-right(src="/img/appstore.png", alt="Get it on the Apple App Store")
    a(href="/")
      img(src="/img/playstore.png", alt="Get it on the Google Play Store")
