.arrow-down
.arrow-down-black
  width 0
  height 0
  border-left 8px solid transparent
  border-right 8px solid transparent
  border-top 8px solid White
  display inline-block

.arrow-down-black
  border-top 8px solid Black
