.button-red
.button-gray
.button-lightgray
  border-radius 4px
  padding 0.5em 2em
  display inline-block
  min-width 40px
  text-align center
  cursor pointer
  opacity 1
  transition opacity 0.5s ease 0s
  &:disabled
    opacity 0.3

.button-gray
  border 1px Black solid
  background Gray
  color White

.button-red
  border 1px #BD2926 solid
  background Red
  color White

.button-lightgray
  border 1px Gray solid
  background LightGray
  color Black