.form
  width 300px
  margin 0 auto

  label
    display block
    font-weight 600
    text-align left
  input, textarea
    display block
    width 285px
    height 3em
    appearance none
    border-radius 0
    border 1px solid Gray
    box-shadow none
    padding-left 10px
    background White
    &:focus
      outline none

.form-group
  margin-top 1em

.required
  font-size 0.8em
  font-style italic
