.header
  @extend .composite-layer
  z-index 1000
  display block
  position fixed
  top 0
  left 0
  width 100%

.header-spacer
  height 40px

.header-logo
  float left
  margin 0.2em 0 0 2em
  width 40px
  img
    width 100%

.header-pro-link
  margin 0 2em 0 1em
  color Black
  background-color LightGray
  border 1px solid Gray

.header-logged-in
.header-logged-out
.header-logged-in-pro
  float right
  margin 0.3em
.header-logged-out
  @media phablet
    .button-red
    .button-gray
      padding 0.5em 1em
