.header
  @extend .composite-layer
  z-index 1000
  display block
  position fixed
  top 0
  left 0
  width 100%

.header-spacer
  height 40px

.header-pro-link
  display inline-block
  margin-right 2em
  color Black
  border-bottom 2px solid Black

.header-logged-out
  float right
  margin 0.2em
  @media phone
    .button-red
    .button-gray
      padding 0.5em 1em
