.home
  height 100%
  width 100%
  background url('img/homepage.jpg')
  background-size cover
  color White
  position relative

.home-logo
  background url('img/properly.png')
  width 130px
  height 0
  overflow hidden
  padding-top 49px
  margin 0.2em 1em
  float left
  @media (max-width: 565px)
    display none

.home-content
  padding-top 120px
  margin-left 10%
  margin-top 120px
  background rgba(0,0,0,0.5)
  float left
  padding 20px
  border-radius 10px
  h1
    text-transform uppercase
    font-weight 700
    font-size 30px
    letter-spacing 3px
  p
    letter-spacing 1px
    line-height 1.5
  @media phone
    margin 0 10px
    margin-top 90px
    h1
      font-size 1.7em

.home-search-button
  font-size 16px
  letter-spacing 3px
  text-transform uppercase
  padding 0.5em 1.5em

.home-about-us
  width 100%
  height 100%
  h1
    padding 2em

.home-scroll-for-more
  position absolute
  bottom 10px
  left 0
  width 100%
  text-align center
