#searchBox
  position fixed
  top 100px
  left 20px
  background WhiteSmoke
  height 311px
  width 230px
  border-radius 8px
  box-shadow 0 1px 10px 0 rgba(0,0,0,0.25)
  opacity 0.5
  transition all 0.3s
  &:hover
    opacity 1
  .form
    width 200px
    margin 0 auto
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  textarea,
  select
    width 200px
    &.half
      width 80px
