header.header(ng-controller="appHeaderCtrl")
  a.ng-hide(href="/", ng-hide="onPath('/')")
    .header-logo
      img(src="/img/logo.png", alt="properly")

  //- Logged out
  .header-logged-out.ng-hide(ng-hide="onPath('/pro') || isLoggedIn()")
    a.button-red(href="/join", ng-hide="onPath('/join', '/login')") Join
    a.button-gray.margin-left-sm(href="/login", ng-hide="onPath('/login')") Log in
    a.button-lightgray.header-pro-link(href="/pro", ng-hide="onPath('/login')") Home owner?


  //- Logged in User
  .header-logged-in.ng-hide(ng-show="isLoggedIn('user')")
    a.button-gray(href="/saved") 
      img.icon-heart(src="/img/heart.svg" alt="&hearts;")
      | &nbsp;&nbsp;Saved
    .header-dropdown-toggle(ng-click="toggleDropdown()")
      | Account
      .arrow-down-black.margin-left

    .header-dropdown(ng-class="{'show': openDropdown}")
      a(href="/account/profile") Your Profile
      br
      a(href="/account/alerts") Your Alerts
      br
      a(href="/account/settings") Settings
      br
      a(href="", ng-click="signout()") Logout


  //- Logged in Home owner
  .header-logged-in-pro.ng-hide(ng-show="isLoggedIn('pro')")
    a.button-lightgray.margin-right-big(href="/pro/dashboard", ng-hide="onPath('/pro/dashboard')")
      | Pro Dashboard
    .header-dropdown-toggle(ng-click="toggleDropdown()", ng-show="onPath('/pro/dashboard')")
      | Account
      .arrow-down-black.margin-left

    .header-dropdown(ng-class="{'show': openDropdown}", ng-show="onPath('/pro/dashboard')")
      a(href="/account/settings") Settings
      br
      a(href="", ng-click="signout()") Logout
