header.header(ng-controller="appHeaderCtrl")
  .header-logged-out
    a.button-red.margin-right-sm(href="/join") Join
    a.button-gray.margin-right-big(href="/login") Log in
    a.button-gray.header-pro-link(href="/pro") Rental owner?