header.header(ng-controller="appHeaderCtrl")
  .header-logged-out(ng-hide="onPath('/pro')")
    a.button-red(href="/join", ng-hide="onPath('/join')") Join
    a.button-gray.margin-left-sm(href="/login", ng-hide="onPath('/login')") Log in
    a.button-gray.header-pro-link(href="/pro") Rental owner?