header.header(ng-controller="appHeaderCtrl")
  a.ng-hide(href="/", ng-hide="onPath('/')")
    .header-logo
      img(src="/img/logo.png", alt="properly")


  .header-logged-out.ng-hide(ng-hide="onPath('/pro') || isLoggedIn()")
    a.button-red(href="/join", ng-hide="onPath('/join', '/login')") Join
    a.button-gray.margin-left-sm(href="/login", ng-hide="onPath('/login')") Log in
    a.button-gray.header-pro-link(href="/pro", ng-hide="onPath('/login')") Rental owner?


  .header-logged-in.ng-hide(ng-show="isLoggedIn('verified')")
    a.button-gray(href="/saved") &hearts;&nbsp;&nbsp;Saved
    .header-dropdown-toggle(ng-click="toggleDropdown()")
      | {{getUserName()}}
      .arrow-down-black.margin-left

    .header-dropdown(ng-class="{'show': openDropdown}")
      a(href="/account/profile") Your Profile
      br
      a(href="/account/settings") Settings
      br
      a(href="", ng-click="signout()") Logout


  .header-logged-in-pro.ng-hide(ng-show="isLoggedIn('pro')")
    a.button-lightgray.margin-left-sm.margin-right-big(href="/pro/dashboard", ng-hide="onPath('/pro/dashboard')")
      | Dashboard
      .arrow-down-black.margin-left
    a.button-lightgray(href="", ng-click="signout()", ng-show="onPath('/pro/dashboard')") Logout
