header.header(ng-controller="appHeaderCtrl")
  a(href="/")
    .header-logo
      img(src="/img/logo.png", alt="properly")
  
  .header-logged-out.ng-hide(ng-hide="onPath('/pro') || isLoggedIn()")
    a.button-red(href="/join", ng-hide="onPath('/join')") Join
    a.button-gray.margin-left-sm(href="/login", ng-hide="onPath('/login')") Log in
    a.button-gray.header-pro-link(href="/pro") Rental owner?


  .header-logged-in.ng-hide(ng-show="isLoggedIn('verified')")
    a.button-gray(href="/saved") &hearts;&nbsp;&nbsp;Saved
    .header-dropdown-toggle(ng-click="toggleDropdown()")
      | {{user.name}}
      .arrow-down-black.margin-left

    .header-dropdown(ng-class="{'show': openDropdown}")
      a(href="/account/settings") Your Profile
      br
      a(href="/account/settings") Settings
      br
      a(href="", ng-click="signout()") Logout


  .header-logged-in-pro.ng-hide(ng-show="isLoggedIn('pro')")
    a.button-lightgray.margin-left-sm.margin-right-big(href="/pro/dashboard")
      | Dashboard
      .arrow-down-black.margin-left
