.header-spacer
.edit-header
  a(ng-click="nextStep('basic')" ng-class="{'active': activeStep('basic')}") Basic
  a(ng-click="nextStep('details')" ng-class="{'active': activeStep('details')}") Details
  a(ng-click="nextStep('description')" ng-class="{'active': activeStep('description')}") Description
  a(ng-click="nextStep('pictures')" ng-class="{'active': activeStep('pictures')}") Pictures
  a(ng-click="nextStep('contact')" ng-class="{'active': activeStep('contact')}") Contact

div(ng-include="getStep()")
