.header-spacer

.show-page-actions.center
  span.icon-close(ng-click="close()" ng-show="homeFn.path('/map')") &times;
  
  .button-gray(ng-click="homeFn.save()")
    img.icon-heart(src="/img/heart.svg" alt="&hearts;")
    | &nbsp;&nbsp;Save
  
  a.button-red(href="/home/{{home._id}}")
    img.icon-share(src="/img/share.svg" alt="&hearts;")
    | &nbsp;&nbsp;Share
  
  .button-gray(ng-click="homeFn.contact()") Contact
  .button-red(ng-click="homeFn.apply()") Send Application
  .button-lightgray(ng-click="homeFn.report()") Report Spam

h1 Show home
p
  | Posted 
  | {{ home._id | timeAgoFromId }}

h2 Details
ul
  li Long rent: {{home.longRent}}
  li Short rent: {{home.shortRent}}
  li Price per month: {{home.price}} | {{home.bills}}
  li Furnished: {{home.furnished}}
  li Pets: {{home.pets}}

h2 Size
ul
  li Type: {{home.type}}
  li {{home.size}} {{home.dimSys}}
  li {{home.bedrooms}} Bedrooms
  li {{home.bathrooms}} Bathrooms
  li {{home.livingrooms}} Livingrooms

h2 Features
ul(ng-repeat="feature in home.features")
  li {{feature}}

h2 Description
p {{ home.description }}
