.header-spacer

.show-page-actions.center
  span.icon-close(ng-click="close()" ng-show="homeFn.path('/map')") &times;
  
  .button-gray 
    img.icon-heart(src="/img/heart.svg" alt="&hearts;")
    | &nbsp;&nbsp;Save
  
  a.button-red(href="/home/{{home._id}}")
    img.icon-share(src="/img/share.svg" alt="&hearts;")
    | &nbsp;&nbsp;Share
  
  .button-red(ng-click="close()") &hearts; Contact
  .button-red(ng-click="close()") &hearts; Send Application
  .button-red(ng-click="close()") &hearts; Report

h1 Show home
div {{ home._id | timeAgoFromId }}