
Red = #EA643B
Black = #3d3d3d
Gray = #5E5A5A
DarkGray = #222222

MainBackground = WhiteSmoke

.bg-black
  background Black
.bg-white
  background White
.bg-main
  background MainBackground

.white
  color White
.black
  color Black

.icon-fill
  fill White
