html
body
  font-family 'Open Sans', Helvetica, Arial, sans-serif
  font-weight 400
  font-size 14px
  width 100%
  height 100%
  line-height 1.5
  overflow hidden
  background MainBackground
  color Black

.app-view
  width 100%
  height 100%
  overflow auto

a
  text-decoration none
  color inherit
  cursor pointer

h1, h2, h3
  font-weight 300
  line-height 2
h1
  font-size 2.2em
h2
  font-size 1.8em

th
td
  padding 8px

.composite-layer
  transform translateZ(0)

.relative
  position relative

.clickable
  cursor pointer

.table
  display table
.table-cell-vertical-middle
  display table-cell
  vertical-align middle

.bold
  font-weight bold
.italic
  font-style italic
.sans-serif
  font-family Helvetica, sans-serif
.serif
  font-family Garamond, serif
.underline
  border-bottom 2px solid Black
.small
  font-size 0.8em
.medium
  font-size 1.1em
.big
  font-size 1.5em

.center
  text-align center
.left
  text-align left
.right
  text-align right
.justify
  text-align justify

.inline-block
  display inline-block
.display-none
  display none

.margin
  margin 1em
.margin-mini
  margin 0.2em
  @media phone
    margin-top 0.8em
.margin-sm
  margin 0.5em
.margin-big
  margin 2em
.margin-top-sm
  margin-top 0.5em
.margin-top
  margin-top 1em
.margin-top-big
  margin-top 2em
  @media phone
    margin-top 1.5em
.margin-right
  margin-right 1em

.padding
  padding 1em