.header-spacer
.center
  h1.margin Welcome to your Properly Pro dashboard
  
  div(ng-show="hasHome()")
    h2.margin-top Manage your listed homes:
    
    .margin(ng-repeat="home in homes")
      a.underline(href="/pro/home/{{home}}/basic") {{home}}

    p.italic or
  
  h2
    a.button-red.margin(href="/pro/home/new/basic") List a new Home
