.header-spacer
.center
  h1 Welcome to your Properly Pro dashboard

  p table of properties, plus a create button

  a.button-red(href="") Create new Listing

  a(href="", ng-click="signout()") Logout
